body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  overflow-y: scroll;
}

.menuContent {
  padding: 0.5em 2em;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column;
}

.content {
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logoImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 12%;
  background-color: white;
  border-radius: 50%;
}

.textLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  width: 30rem;
}

.emptySpace1 {
  width: 100%;
  height: 1rem;
}

.emptySpace2 {
  width: 100%;
  height: 2rem;
}

.emptySpace3 {
  width: 100%;
  height: 3rem;
}

.hidden {
  opacity: 0;
  filter: blur(1px) contrast(50%);
}

.visible {
  opacity: 1;
  filter: blur(0px) contrast(100%);
  transition: opacity 0.3s cubic-bezier(0.62, -0.01, 0.09, 0.94),
    filter 0.2s cubic-bezier(0.93, 0.01, 0.83, 0.19);
}
